<toast></toast>
<div>
    <div class="container">
        <div class="row">
            <h3 class="col-md-4">Controlo de Orcamento</h3>


            <form class="form-inline ">

                <div class="form-group col-md-8">
                    <div class="col-md-3 text-deloitte">Mensal: {{budgetData.percentagem}} %</div>
                    <div class="btn-group col-md-2 col-md-offset-1 dropdown-deloitte" dropdown is-open="stat.isopen">
                        <button id="dropdownMes" type="button" class="btn btn-default dropdown-toggle" dropdown-toggle
                                ng-disabled="disabled">
                            {{backlogData.mes}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="mes in meses">
                                <a ng-click="mesSelected(mes)">{{mes}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group col-md-2 dropdown-deloitte" dropdown is-open="stat.isopen2">
                        <button id="dropdownAno" type="button" class="btn btn-default dropdown-toggle" dropdown-toggle
                                ng-disabled="disabled">
                            {{backlogData.ano}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="ano in anos">
                                <a ng-click="anoSelected(ano)">{{ano}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fileUpload col-md-2 btn btn-deloitte">
                        <span>Upload</span>
                        <input id="uploadBtn" type="file" class="upload" input-on-change="uploadBacklog"/>
                    </div>

                </div>
            </form>
        </div>

    </div>
    <div ui-grid="gridOptions" ui-grid-edit ui-grid-grouping ui-grid-exporter
         ui-grid-pinning class="backlogGrid"></div>

</div>