<html ng-app="mainApp">
<head>
    <title>Lista de utilizadores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/ngtoast/dist/ngToast.min.css">
    <style>
        .navbar-inverse .navbar-brand {
            color: white;
        }
    </style>
</head>
<body>

<div ng-controller="navController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/main"><b>Deloitte.</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/users">{{funcao1}}<span class="sr-only">(current)</span></a></li>
                    <li><a href="#/tarefas">{{funcao2}}</a></li>
                    <li><a href="#/recursos">{{funcao3}}</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<div ng-view></div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.js"></script>
<script src="/controllers/mainApp.js"></script>
<script src="/controllers/usersController.js"></script>
<script src="/controllers/recursosController.js"></script>
<script src="/controllers/tarefasController.js"></script>
<script src="/controllers/mainController.js"></script>
<script src="/services/user.services.js"></script>
<script src="/services/recursos.services.js"></script>
<script src="/modals/popToConfirmController.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/ngtoast/dist/ngToast.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/d3/d3.js"></script>
<script src="/bower_components/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
<script src="/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<link rel="stylesheet" href="/bower_components/nvd3/nv.d3.css">

</body>
</html>