<div class="container">
    <h3>Lista de recursos</h3>

    <div class="tabela">
        <table class="table">
            <thead>
            <tr>
                <th>Nome
                    <span ng-click="sortNome()" class="glyphicon glyphicon-sort-by-attributes"></span></th>
                <th>Nível <span ng-click="sortNivel()" class="glyphicon glyphicon-sort-by-attributes"></span></th>
                <th>Actual</th>
                <th>Data livre</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="empregado in empregados">
                <td><a href="#/recursos/{{empregado._id}}">{{empregado.name}}</a></td>
                <td>{{empregado.nivel}}</td>
                <td>{{empregado.tarefa.actual}}</td>
                <td>{{empregado.tarefa.fim | date:'MM/dd/yyyy' }}</td>
            </tr>
            </tbody>
        </table>
        <a href="#/criarrecursos" class="btn btn-deloitte" role="button">Criar recurso</a>
    </div>
</div>