<toast></toast>
<div class="container">
    <div class="row">

        <form class="form-inline ">
            <h3 class="col-md-4">Lista de recursos</h3>
            <div class="form-group col-md-8">
                <div class="checkbox col-md-3 cd-md-offset-4" style="margin-top: 25px">
                    <label>
                        <input type="checkbox" ng-change="soLivresChanged()" ng-model="soLivres"> Apenas livres
                    </label>
                </div>
                <input placeholder="Filtro"
                       class="form-control col-md-1 input-deloitte" ng-model="filtro.name">
                <a href="#/criarrecursos" class="btn btn-deloitte col-md-2" role="button">Criar recurso</a>
                <div class="fileUpload col-md-2 btn btn-deloitte hidden-xs">
                    <span>Upload</span>
                    <input id="uploadBtn" type="file" class="upload" input-on-change="uploadFile"/>
                </div>
                <button class="btn btn-deloitte col-md-2 hidden-xs hidden-md hidden-sm" ng-click="downloadFile()">Download</button>
                <button class="btn btn-deloitte col-md-1 hidden-lg" ng-click="sendMail()">Mail</button>
            </div>
        </form>
    </div>
    <div class="tabela">
        <table class="table">
            <thead>
            <tr>
                <th>Nome
                    <span ng-click="sortNome()" class="glyphicon glyphicon-sort-by-attributes"></span></th>
                <th>Nível <span ng-click="sortNivel()" class="glyphicon glyphicon-sort-by-attributes"></span></th>
                <th>Actual</th>
                <th>Data livre</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="empregado in empregados | filter:filtro">
                <td><a href="#/recursos/{{empregado._id}}">{{empregado.name}}</a></td>
                <td>{{empregado.nivel}}</td>
                <td>{{empregado.tarefa.actual}}</td>
                <td>{{empregado.tarefa.fim | date:'MM/dd/yyyy' }}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>